<div class="secondary-header">
	<div class="container">
	  <div class="row status-wrap">
	    <div class="col-sm-6">
	    	<div class="booking-status">
					<div class="media">
					  <div class="media-left">
					    <a class="" href="#">
					      <img class="media-object img-circle" src="http://via.placeholder.com/64x64" alt="Name">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">Dr. Name Initial</h4>
					    <p><span class="glyphicon glyphicon-education"></span> SSLC FAILED, BSc Physics, MSc Maths, PSC <br> <span class="glyphicon glyphicon-map-marker"></span> Location, City, State</p>
					  </div>
					</div>
          <hr>
          <h4>Appointment details</h4>
          <dl>
            <dd>Date</dd>
            <dt>{{register.date | amDateFormat:'D MMMM YYYY, dddd'}}</dt>
          </dl>
        </div>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="header-wrap register-wrap">
        <h3 class="text-center">Address</h3>
        <form class="" name="bookform" valid-submit="registerMe()" novalidate>
            <input type="hidden" class="form-control" placeholder="Name" ng-model="register.doc_id" required>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.name.$invalid,
                    'has-success': bookform.$submitted && bookform.name.$valid}">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="register.name" required autofocus>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.name.$error.required">Please enter valid name.</span>
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <div class="row register-dob" ng-class="{
                  'has-error': bookform.$submitted && bookform.day.$invalid,
                  'has-error': bookform.$submitted && bookform.month.$invalid,
                  'has-error': bookform.$submitted && bookform.year.$invalid}">
                    <div class="col-xs-3" ng-class="{
                            'has-error': bookform.$submitted && bookform.day.$invalid,
                            'has-success': bookform.$submitted && bookform.day.$valid}">
                        <input
                            type="number"
                            name="day"
                            class="form-control"
                            ng-model="register.db.day"
                            maxlength="2"
                            placeholder="Day"
                            min="1"
                            max="31"
                            maxlength="2"
                            required
                            >
                    </div>
                    <div class="col-xs-5 register-month" ng-class="{
                            'has-error': bookform.$submitted && bookform.month.$invalid,
                            'has-success': bookform.$submitted && bookform.month.$valid}">
                        <select name="month" class="form-control" ng-model="register.db.month" required>
                            <option value="" disabled selected hidden>Month</option>
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                            <option value="april">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="july">July</option>
                            <option value="august">August</option>
                            <option value="september">September</option>
                            <option value="october">October</option>
                            <option value="november">November</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <div class="col-xs-4" ng-class="{
                            'has-error': bookform.$submitted && bookform.year.$invalid,
                            'has-success': bookform.$submitted && bookform.year.$valid}">
                        <!-- TODO year maximum till this year -->
                        <input
                            type="number"
                            name="year"
                            class="form-control"
                            ng-model="register.db.year"
                            min="1900"
                            max="2017"
                            maxlength="4"
                            placeholder="Year"
                            required
                            >
                    </div>
                    <div class="col-xs-12" ng-class="{
                            'has-error': bookform.$submitted && bookform.day.$invalid,
                            'has-error': bookform.$submitted && bookform.month.$invalid,
                            'has-error': bookform.$submitted && bookform.year.$invalid,
                            'has-success': bookform.$submitted && bookform.day.$valid && bookform.month.$valid && bookform.year.$valid}">
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.day.$error.required">Please enter valid date.</span>
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.month.$error.required">Please enter valid month.</span>
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.year.$error.required">Please enter valid year.</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.mobile.$invalid,
                    'has-success': bookform.$submitted && bookform.mobile.$valid}">
                <label>Mobile</label>
                <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="register.mobile" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.mobile.$error.required">Please enter valid mobile number.</span>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.email.$invalid,
                    'has-success': bookform.$submitted && bookform.email.$valid}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="register.email" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.email.$error.required">Please enter valid email.</span>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.address.$invalid,
                    'has-success': bookform.$submitted && bookform.address.$valid}">
                <label>Address</label>
                <input type="text" name="address" class="form-control" placeholder="Address" ng-model="register.address" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.address.$error.required">Please enter valid address.</span>
            </div>
            <div class="form-group text-right">
              <!-- TODO ng-disabled="(form.$submitted && form.$invalid)" -->
              <button type="submit" class="btn btn-primary" ng-disabled="(form.$submitted && form.$invalid)">Book Appointment</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container hide">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 box" ng-switch="bookingStatus">

            <div class="panel panel-primary" ng-switch-when="register">
              <div class="panel-heading">
                <h3 class="panel-title text-center">Register Your Appointment</h3>
              </div>
              <div class="panel-body">
              <div class="row">
                  <div class="col-sm-12">
                      <form class="form-horizontal" name="bookform" valid-submit="registerMe()" novalidate>
                          <input type="hidden" class="form-control" placeholder="Name" ng-model="register.doc_id" required>
                          <div class="form-group">
                              <label class="col-sm-2 col-md-4 control-label">Date</label>
                              <div class="col-sm-10 col-md-5">
                                  <h4>{{register.date | amDateFormat:'D MMMM YYYY, dddd'}}</h4>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{
                                  'has-error': bookform.$submitted && bookform.name.$invalid,
                                  'has-success': bookform.$submitted && bookform.name.$valid}">
                              <label class="col-sm-2 col-md-4 control-label">Name</label>
                              <div class="col-sm-10 col-md-4">
                                  <input type="text" name="name" class="form-control" placeholder="Name" ng-model="register.name" required autofocus>
                                  <span class="validation-error" ng-show="bookform.$submitted && bookform.name.$error.required">Please enter valid name.</span>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-md-4 control-label">Date of birth</label>
                              <div class="col-sm-10 col-md-4">
                                  <div class="row register-dob" ng-class="{
                                    'has-error': bookform.$submitted && bookform.day.$invalid,
                                    'has-error': bookform.$submitted && bookform.month.$invalid,
                                    'has-error': bookform.$submitted && bookform.year.$invalid}">
                                      <div class="col-xs-3" ng-class="{
                                              'has-error': bookform.$submitted && bookform.day.$invalid,
                                              'has-success': bookform.$submitted && bookform.day.$valid}">
                                          <input
                                              type="number"
                                              name="day"
                                              class="form-control"
                                              ng-model="register.db.day"
                                              maxlength="2"
                                              placeholder="Day"
                                              min="1"
                                              max="31"
                                              maxlength="2"
                                              required
                                              >
                                      </div>
                                      <div class="col-xs-5 register-month" ng-class="{
                                              'has-error': bookform.$submitted && bookform.month.$invalid,
                                              'has-success': bookform.$submitted && bookform.month.$valid}">
                                          <select name="month" class="form-control" ng-model="register.db.month" required>
                                              <option value="" disabled selected hidden>Month</option>
                                              <option value="january">January</option>
                                              <option value="february">February</option>
                                              <option value="march">March</option>
                                              <option value="april">April</option>
                                              <option value="may">May</option>
                                              <option value="june">June</option>
                                              <option value="july">July</option>
                                              <option value="august">August</option>
                                              <option value="september">September</option>
                                              <option value="october">October</option>
                                              <option value="november">November</option>
                                              <option value="december">December</option>
                                          </select>
                                      </div>
                                      <div class="col-xs-4" ng-class="{
                                              'has-error': bookform.$submitted && bookform.year.$invalid,
                                              'has-success': bookform.$submitted && bookform.year.$valid}">
                                          <!-- TODO year maximum till this year -->
                                          <input
                                              type="number"
                                              name="year"
                                              class="form-control"
                                              ng-model="register.db.year"
                                              min="1900"
                                              max="2017"
                                              maxlength="4"
                                              placeholder="Year"
                                              required
                                              >
                                      </div>
                                      <div class="col-xs-12" ng-class="{
                                              'has-error': bookform.$submitted && bookform.day.$invalid,
                                              'has-error': bookform.$submitted && bookform.month.$invalid,
                                              'has-error': bookform.$submitted && bookform.year.$invalid,
                                              'has-success': bookform.$submitted && bookform.day.$valid && bookform.month.$valid && bookform.year.$valid}">
                                        <span class="validation-error" ng-show="bookform.$submitted && bookform.day.$error.required">Please enter valid date.</span>
                                        <span class="validation-error" ng-show="bookform.$submitted && bookform.month.$error.required">Please enter valid month.</span>
                                        <span class="validation-error" ng-show="bookform.$submitted && bookform.year.$error.required">Please enter valid year.</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{
                                  'has-error': bookform.$submitted && bookform.mobile.$invalid,
                                  'has-success': bookform.$submitted && bookform.mobile.$valid}">
                              <label class="col-sm-2 col-md-4 control-label">Mobile</label>
                              <div class="col-sm-10 col-md-4">
                                  <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="register.mobile" required>
                                  <span class="validation-error" ng-show="bookform.$submitted && bookform.number.$error.required">Please enter valid mobile number.</span>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{
                                  'has-error': bookform.$submitted && bookform.email.$invalid,
                                  'has-success': bookform.$submitted && bookform.email.$valid}">
                              <label class="col-sm-2 col-md-4 control-label">Email</label>
                              <div class="col-sm-10 col-md-4">
                                  <input type="email" name="email" class="form-control" placeholder="Email" ng-model="register.email" required>
                                  <span class="validation-error" ng-show="bookform.$submitted && bookform.email.$error.required">Please enter valid email.</span>
                              </div>
                          </div>
                          <div class="form-group" ng-class="{
                                  'has-error': bookform.$submitted && bookform.address.$invalid,
                                  'has-success': bookform.$submitted && bookform.address.$valid}">
                              <label class="col-sm-2 col-md-4 control-label">Address</label>
                              <div class="col-sm-10 col-md-4">
                                  <input type="text" name="address" class="form-control" placeholder="Address" ng-model="register.address" required>
                                  <span class="validation-error" ng-show="bookform.$submitted && bookform.address.$error.required">Please enter valid address.</span>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-4 col-sm-10 col-md-4">
                                <!-- TODO ng-disabled="(form.$submitted && form.$invalid)" -->
                                  <button type="submit" class="btn btn-primary" ng-disabled="(form.$submitted && form.$invalid)">Book Appointment</button>
                              </div>
                          </div>
                      </form>
                  </div>

                  <div class="col-sm12">
                      <pre>{{ register | json}}</pre>
                  </div>
              </div>
              </div>
            </div>

            <div class="panel panel-success" ng-switch-when="confirmed">
              <div class="panel-heading">
                <h3 class="panel-title text-center">Appointment Confirmed</h3>
              </div>
              <div class="panel-body text-center">
                  <h3 class="hide text-center">Your appointment booked successfuly</h3>
                  <h4><u>Appointment details are:</u></h4>
                  <h4>Date: {{bookedDateTime | amDateFormat:'D MMMM YYYY, dddd'}}</h4>
                  <h4>Time: {{bookedDateTime | amDateFormat:'h:mm A'}}</h4>
              </div>
            </div>

            <div class="panel panel-danger" ng-switch-when="notavailable">
              <div class="panel-heading">
                <h3 class="panel-title text-center">No Appointment on the day</h3>
              </div>
              <div class="panel-body text-center">
                  <p>There is no appointment available on the selected day</p>
                  <p>Please choose another day <a ui-sref='calander'>back</a>.</p>
              </div>
            </div>

        </div>
    </div>
</div>
