<div class="row">
    <div class="col-md-12">
        <label class="btn" ng-model="selected.time" uib-btn-radio="availableBooking" uncheckable  ng-repeat="availableBooking in availableBookings" ng-class="availableBooking.booked ? 'btn-danger' : 'btn-primary'">
        {{ availableBooking.timeFrom | amDateFormat:' h:mm a'}}
        <br>
        {{availableBooking.booked ? 'Booked' : 'Available'}}
        </label>
    </div>
    <div class="col-md-12">
        <ul class="list-inline">
            <li ng-repeat="availableBooking in availableBookings">
                <a href="#" ng-click="$event.preventDefault(); selDate(availableBooking)">{{ availableBooking.timeFrom | amDateFormat:' h:mm a'}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        Selected: <b>{{ selected.time.timeFrom | amDateFormat:'h:mm a' }}</b><br>
        <pre>{{selected.time | json}}</pre>
    </div> 
    <div class="col-md-12 text-right">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="ok()">Book Appointment</button>
    </div>       
</div>