<div class="secondary-header">
	<div class="container">
	  <div class="row status-wrap">
	    <div class="col-sm-8 col-md-6">
	    	<div class="booking-status">
					<div class="media">
					  <div class="media-left">
					    <a class="" href="#">
					      <img class="media-object img-circle" src="http://via.placeholder.com/64x64" alt="Name">
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">Dr. Name Initial</h4>
					    <p><span class="glyphicon glyphicon-education"></span> SSLC FAILED, BSc Physics, MSc Maths, PSC <br> <span class="glyphicon glyphicon-map-marker"></span> Location, City, State</p>
					  </div>
					</div>
          <div class="" ng-show="bookingStatus == 'register'">
            <hr>
            <h4>Appointment details</h4>
            <dl>
              <dd>Date</dd>
              <dt>{{register.date | amDateFormat:'D MMMM YYYY, dddd'}}</dt>
            </dl>
          </div>
        </div>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-switch="bookingStatus">
      <div class="header-wrap register-wrap" ng-switch-when="register">
        <h3 class="text-center">Address</h3>
        <form class="" name="bookform" valid-submit="registerMe()" novalidate>
            <input type="hidden" class="form-control" placeholder="Name" ng-model="register.doc_id" required>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.name.$invalid,
                    'has-success': bookform.$submitted && bookform.name.$valid}">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" ng-model="register.name" required autofocus>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.name.$error.required">Please enter valid name.</span>
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <div class="row register-dob" ng-class="{
                  'has-error': bookform.$submitted && bookform.day.$invalid,
                  'has-error': bookform.$submitted && bookform.month.$invalid,
                  'has-error': bookform.$submitted && bookform.year.$invalid}">
                    <div class="col-xs-3" ng-class="{
                            'has-error': bookform.$submitted && bookform.day.$invalid,
                            'has-success': bookform.$submitted && bookform.day.$valid}">
                        <input
                            type="number"
                            name="day"
                            class="form-control"
                            ng-model="register.db.day"
                            maxlength="2"
                            placeholder="Day"
                            min="1"
                            max="31"
                            maxlength="2"
                            required
                            >
                    </div>
                    <div class="col-xs-5 register-month" ng-class="{
                            'has-error': bookform.$submitted && bookform.month.$invalid,
                            'has-success': bookform.$submitted && bookform.month.$valid}">
                        <select name="month" class="form-control" ng-model="register.db.month" required>
                            <option value="" disabled selected hidden>Month</option>
                            <option value="january">January</option>
                            <option value="february">February</option>
                            <option value="march">March</option>
                            <option value="april">April</option>
                            <option value="may">May</option>
                            <option value="june">June</option>
                            <option value="july">July</option>
                            <option value="august">August</option>
                            <option value="september">September</option>
                            <option value="october">October</option>
                            <option value="november">November</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <div class="col-xs-4" ng-class="{
                            'has-error': bookform.$submitted && bookform.year.$invalid,
                            'has-success': bookform.$submitted && bookform.year.$valid}">
                        <!-- TODO year maximum till this year -->
                        <input
                            type="number"
                            name="year"
                            class="form-control"
                            ng-model="register.db.year"
                            min="1900"
                            max="2017"
                            maxlength="4"
                            placeholder="Year"
                            required
                            >
                    </div>
                    <div class="col-xs-12" ng-class="{
                            'has-error': bookform.$submitted && bookform.day.$invalid,
                            'has-error': bookform.$submitted && bookform.month.$invalid,
                            'has-error': bookform.$submitted && bookform.year.$invalid,
                            'has-success': bookform.$submitted && bookform.day.$valid && bookform.month.$valid && bookform.year.$valid}">
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.day.$error.required">Please enter valid date.</span>
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.month.$error.required">Please enter valid month.</span>
                      <span class="validation-error" ng-show="bookform.$submitted && bookform.year.$error.required">Please enter valid year.</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.mobile.$invalid,
                    'has-success': bookform.$submitted && bookform.mobile.$valid}">
                <label>Mobile</label>
                <input type="text" name="mobile" class="form-control" placeholder="Mobile" ng-model="register.mobile" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.mobile.$error.required">Please enter valid mobile number.</span>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.email.$invalid,
                    'has-success': bookform.$submitted && bookform.email.$valid}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="register.email" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.email.$error.required">Please enter valid email.</span>
            </div>
            <div class="form-group" ng-class="{
                    'has-error': bookform.$submitted && bookform.address.$invalid,
                    'has-success': bookform.$submitted && bookform.address.$valid}">
                <label>Address</label>
                <input type="text" name="address" class="form-control" placeholder="Address" ng-model="register.address" required>
                <span class="validation-error" ng-show="bookform.$submitted && bookform.address.$error.required">Please enter valid address.</span>
            </div>
            <div class="form-group text-right">
              <!-- TODO ng-disabled="(form.$submitted && form.$invalid)" -->
              <button type="submit" class="btn btn-primary" ng-disabled="(form.$submitted && form.$invalid)">Book Appointment</button>
            </div>
        </form>
      </div>
      <div class="header-wrap register-wrap" ng-switch-when="confirmed">
        <h3 class="text-center">Appointment Confirmed</h3>
        <hr>
        <h4>Appointment details</h4>
        <div class="confirmation-wrap">
          <dl class="confirmation-detail">
            <dd>Date</dd>
            <dt>{{bookedDateTime | amDateFormat:'D MMMM YYYY, dddd'}}</dt>
          </dl>
          <dl class="confirmation-detail">
            <dd>Time</dd>
            <dt>{{bookedDateTime | amDateFormat:'h:mm A'}}</dt>
          </dl>
        </div>
        <hr>
        <h4>Patient details</h4>
        <div class="confirmation-wrap">
          <dl class="confirmation-name">
            <dd>Name</dd>
            <dt>{{register.name}}</dt>
          </dl>
          <dl class="confirmation-detail">
            <dd>Age</dd>
            <dt>{{register.age}}</dt>
          </dl>
        </div>
        <div class="confirmation-wrap">
          <dl class="confirmation-detail">
            <dd>Mobile</dd>
            <dt>{{register.mobile}}</dt>
          </dl>
          <dl class="confirmation-detail">
            <dd>Email</dd>
            <dt>{{register.email}}</dt>
          </dl>
        </div>
        <div class="confirmation-wrap">
          <dl class="confirmation-detail">
            <dd>Address</dd>
            <dt>{{register.address}}</dt>
          </dl>
        </div>
        <!-- <pre>{{register | json}}</pre> -->
      </div>
      <div class="header-wrap register-wrap text-center" ng-switch-when="notavailable">
        <h3>Appointment not available</h3>
        <hr>
        <p>There is no appointment available on the selected day</p>
        <p>Please choose another day <a ui-sref='calander'>back</a>.</p>
      </div>
    </div>
  </div>
</div>
